h1 {
    text-align: center;
    position: relative;
}

h1::after {
    /* The "underline" */
    content: "";
    display: block;

    position: absolute;

    left: calc((100% - 30%) / 2);
    bottom: -13px;

    width: 30%;
    height: 5px;

    border-radius: 10px;

    background-image: linear-gradient(to right, rgb(81, 204, 122), rgb(78, 162, 241));
    transition: 300ms;
}

h1:hover::after {
    width: 10%;
    left: 45%;
}

.profile-preview-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

ul li {
    display: contents;
}

.profile-preview-span {
    border: 3px solid black;
    border-radius: 10px;

    box-shadow: 3px 3px 5px grey;

    height: 50px;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;
}

.profile-preview-span:hover {
    background-color: rgb(222, 255, 239);
}

.profile-preview-span:active {
    background-color: rgb(135, 197, 167);
}

.profile-preview-span img {
    border-radius: 50%;
}

#profile-preview-list-see-more {
    display: none;
}

.groups-preview-list {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 100px;
    padding: 0;
}

.group-preview-span {
    border: 2px solid black;
    border-radius: 10px;
    
    box-shadow: 5px 5px 5px grey;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    cursor: pointer;
    
}

.group-preview-name {
    width: 100%;
    text-align: center;
    padding: 3px;
}

.group-preview-span:hover {
    background-color: rgb(249, 243, 255);
}

.group-preview-span:active {
    background-color: rgb(196, 173, 219);
}

.group-preview-span img {
    border-radius: 50%;
}

#account-icon {
    position: absolute;
    right: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    font-size: 3.5em;
}

#account-dropdown-menu {
    margin: 0;
    
    background-color: rgb(209, 218, 238);
    border: 3px solid black;
    
    width: 150px;
    height: 150px;
    position: absolute;
    right: 10px;
    top: 90px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#account-dropdown-menu a {
    cursor: pointer;
    width: 100%;
    height: 20px;
    padding: 10px 0;
    text-align: center;
}

#account-dropdown-menu a:hover {
    background-color: rgb(210, 198, 230);
}

#account-dropdown-menu a:active {
    background-color: rgb(255, 255, 255);
}

@media (max-width: 550px), (min-width: 1000px) {
    .profile-preview-list {
        flex-direction: column;
    }

    .profile-preview-span {
        width: 50%;
    }

    .profile-preview-span {
        align-self: center;
        margin: 3px 0;
    }

    #account-icon {
        display: none;
    }

    #account-dropdown-menu {
        flex-direction: row;
        position: static;
        width: 100%;
        border: none;
        border-radius: 10px;
        margin: 0;
        padding: 0;
        height: 50px;
        background-color: rgb(221, 226, 236);
        
    }

    #account-dropdown-menu a {
        border-radius: 10px;
    }
}

@media (min-width: 1050px) {
    body {
        width: 1000px;
        margin: auto;
    }
}